html, body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(212, 209, 209), rgb(48, 47, 47));
}

.divrow{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formSubmit{
    margin-top: 20px;
    margin-bottom: 20px;
}